<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href={{ url_for("public.homepage") }} class="d-inline-flex link-body-emphasis text-decoration-none">
        <i class="fas fa-check"> </i> Check It Off
      </a>
    </div>

    <!-- Make this only appear to users that are logged in-->
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href={{ url_for("public.new_list") }} class="nav-link px-2">New List</a></li>
      {% if current_user.is_authenticated: %}
      <li><a href={{ url_for("user.users_lists") }} class="nav-link px-2">Your Lists</a></li>
      {% endif %}
    </ul>
    <div class="col-md-3 text-end">
      {% if not current_user.is_authenticated: %}
      <a type="button" class="btn btn-outline-primary me-2" name="login" href={{ url_for("public.login") }}>Login</a>
      <a type="button" class="btn btn-primary" name="signup" href={{ url_for("public.register") }}>Sign-up</a>
      {% else %}
      <a type="button" class="btn btn-primary" name="logout" href={{ url_for("public.logout") }}>Logout</a>
      {% endif %}
    </div>
  </header>
</div>
