.starred_check:checked+label {
  color: goldenrod;
}

.tags_check:checked+label {
  color: darkgray;
}

.starred_check+label {
  color: lightgrey;
}

.tags_check+label {
  color: lightgrey;
}

.delete_check+label {
  color: lightgrey;
}
